---
layout: "default"
verovio: "true"
vim:      ts=3
---

{% include_relative listeners.html %}
{% include_relative scripts-local.html %}

<style>
.btn:focus {
	outline: none;
	box-shadow: none;
}
</style>


<section class="portfolio" id="portfolio">
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Browse</h2>
		<hr class="star-dark mb-5">
		<div class="row">

		<button class="btn" data-toggle="collapse" data-target="#demo">Collapsible</button>
		<div id="demo" class="collapse">
			<br>
			This is some text
		</div>
	
		</div>

	</div>
</section>


